<app-header></app-header>
<body style="text-align: center;">
    <form class="example-form">
        <h2>
            Унесите податке о артиклу
        </h2>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Општи подаци:
                    </mat-panel-title>
                </mat-expansion-panel-header >
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Шифра артикла</mat-label>
                    <input matInput required [(ngModel)]="code" name="code">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Назив артикла</mat-label>
                    <input matInput required [(ngModel)]="title" name="title">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Јединица мере</mat-label>
                    <input matInput required [(ngModel)]="unit" name="unit">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Стопа пореза</mat-label>
                    <input matInput required [(ngModel)]="tax" name="tax" type="number">
                </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Допунски подаци:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Земља порекла</mat-label>
                    <input matInput [(ngModel)]="origin" name="origin">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Страни назив артикла</mat-label>
                    <input matInput [(ngModel)]="foreignTitle" name="foreignTitle">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Баркод број</mat-label>
                    <input matInput [(ngModel)]="barcode" name="barcode" type="number">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Произвођач</mat-label>
                    <input matInput [(ngModel)]="producer" name="producer">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Царинска тарифа</mat-label>
                    <input matInput [(ngModel)]="customsTax" name="customsTax">
                </mat-form-field>
               
                   <mat-checkbox [(ngModel)]="ecoTax" name="ecoTax" color="primary"> Да ли се примењује еко такса или акцизе?</mat-checkbox>
                    <br>
                    <br>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Минималне жељене залихе</mat-label>
                    <input matInput [(ngModel)]="minStock" name="minStock" type="number">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Максималне жељене залихе</mat-label>
                    <input matInput [(ngModel)]="maxStock" name="maxStock" type="number">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Опис артикла</mat-label>
                    <input matInput [(ngModel)]="description" name="description">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Декларација</mat-label>
                    <input matInput [(ngModel)]="declare" name="declare">
                </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Цене и стање робе
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <span *ngIf="skladistaId">
                    <span *ngFor="let n of skladistaId; let i = index">
                        <h3>Складиште: <b>{{skladistaNaz[i]}}</b></h3>
                        <mat-form-field>
                            <mat-label>Набавна цена</mat-label>
                            <input matInput [(ngModel)]="getPrice[i]" name="getPrice{{n}}">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Продајна цена</mat-label>
                            <input matInput [(ngModel)]="sellPrice[i]" name="sellPrice{{n}}">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>На лагеру</mat-label>
                            <input matInput [(ngModel)]="lager[i]" name="lager{{n}}">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Минимална жељена количина</mat-label>
                            <input matInput [(ngModel)]="minStockW[i]" name="minStockW{{n}}">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Минимална жељена количина</mat-label>
                            <input matInput [(ngModel)]="maxStockW[i]" name="maxStockW{{n}}">
                        </mat-form-field>
                        <hr>
                    </span>
            </span>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Слика артикла</mat-label>
                <input matInput disabled="true" id="logo" name="logo" value="" [(ngModel)]="name" >
            </mat-form-field>
        
            <button color="primary" mat-raised-button onclick="document.getElementById('getFile').click()" for="getFile">Додај слику</button>
            <input type='file' id="getFile" style="display:none"  (change)="onFileSelected($event)">        
        
        <br>
        <br>
        <button mat-raised-button color="primary" (click)="updateItem()">САЧУВАЈ</button>
        <mat-error>{{message}}</mat-error>
    </form>
</body>