<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Република Србија - Фискализација</span>
    <span class="example-spacer"></span>
    <mat-menu #menu="matMenu">
      <span *ngIf="user==null">
        <button mat-menu-item onclick="location.href = 'http://localhost:4200/'">
          <span>Пријава</span>
        </button>
      </span>
      <span *ngIf="user==null">
        <button mat-menu-item onclick="location.href = 'http://localhost:4200/register'">
          <span>Регистрација</span>
        </button>
      </span>
      <span *ngIf="user!=null && user.type==1">
        <button mat-menu-item [matMenuTriggerFor]="menu2">
          <span>Преглед података</span> <!--DODATI JEZICKE?? -->
        </button>
        <mat-menu #menu2="matMenu">
          <span>
            <button mat-menu-item onclick="location.href = 'http://localhost:4200/dataBasic'"> 
              Основни подаци
            </button>
          </span>
          <span>
            <button mat-menu-item onclick="location.href = 'http://localhost:4200/dataAcc'">
              Жиро рачун
            </button>
          </span>
          <span>
            <button mat-menu-item onclick="location.href = 'http://localhost:4200/dataStorage'">
              Магацини и касе
            </button>
          </span>
        </mat-menu>
      </span>
      <span *ngIf="user!=null && user.type==1" onclick="location.href = 'http://localhost:4200/orderers'">
        <button mat-menu-item>
          <span>Наручиоци</span>
        </button>
      </span>
      <span *ngIf="user!=null && user.type==1">
        <button mat-menu-item>
          <span>Робе и услуге</span>
        </button>
      </span>
      <span *ngIf="user!=null && user.type==1">
        <button mat-menu-item>
          <span>Распоред артикала</span>
        </button>
      </span>
      <span *ngIf="user!=null && user.type==1 && user.restaurant==1">
        <button mat-menu-item>
          <span>Распоред столова</span>
        </button>
      </span>
      <span *ngIf="user!=null && user.type==1">
        <button mat-menu-item>
          <span>Издавање рачуна</span>
        </button>
      </span>
      <span *ngIf="user!=null && user.type==1">
        <button mat-menu-item>
          <span>Преглед извештаја</span>
        </button>
      </span>
      <span *ngIf="user!=null">
        <button mat-menu-item (click)="logout()">
          <span>Заврши рад</span>
        </button>
      </span>
      </mat-menu>
  </mat-toolbar>
</p>












<!-- <mat-sidenav-container>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div fxHide.gt-xs>
          <button mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div>
          <a>
            Република Србија - Фискализација
          </a>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
          <ul fxLayout fxLayoutGap="30px" class="navigation-items">
              <li>
                <a>
                  <span  class="label">Пријава</span>
                </a>
              </li>
              <li>
                <a>
                  <span class="label">Home</span>
                </a>
              </li>
              <li>
                <a>
                  <span class="label">Регистрација</span>
                </a>
              </li>
              <li>
                <a>
                  <span class="label">Заврши рад</span>
                </a>
              </li>
          </ul>
        </div>
      </mat-toolbar>
      <main>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container> -->